<h1>Contacts</h1>
  <div class="contacts-block">
    <form action="https://docs.google.com/forms/d/1DpRxyAUpOblRNklsZUBUTQqKMQkKiVHLjIRLP-RHVhk/formResponse?embedded=true" method="POST" class="contacts-form">
      <input class="contacts-inputs" type="text" placeholder="Name" name="entry.602952447" />
      <input class="contacts-inputs" type="text" placeholder="Email" name="entry.1347471866" />
      <textarea class="contacts-inputs" placeholder="Message" name="entry.269655114"></textarea>
      <input type="submit" value="SEND" />
    </form>
  </div>