<div id="myCarousel" class="carousel slide">
<div class="carousel-inner">

  <div class="item active">
    <img src="styles/images/slider/4.png" alt="">
    <div class="container">
      <div class="carousel-caption">
        <h1>Vendim</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Donec id elit non mi porta gravida at eget metus.
          Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <a class="btn btn-large btn-primary btn-inverse" href="#">Sign up today</a>
      </div>
    </div>
  </div>

  <div class="item">
    <img src="styles/images/slider/2.png" alt="">
    <div class="container">
      <div class="carousel-caption">
        <h1>oDesk</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Donec id elit non mi porta gravida at eget metus.
          Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <a class="btn btn-large btn-primary btn-inverse" href="#">Learn more</a>
      </div>
    </div>
  </div>

  <div class="item">
    <img src="styles/images/slider/3.png" alt="">
    <div class="container">
      <div class="carousel-caption">
        <h1>CUT2IT</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Donec id elit non mi porta gravida at eget metus.
          Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <a class="btn btn-large btn-primary btn-inverse" href="#">Browse gallery</a>
      </div>
    </div>
  </div>

</div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="container marketing">

  <div class="row">

    <div class="span4">
      <img class="img-rect" data-src="holder.js/140x140">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
        Nullam id dolor id nibh ultricies vehicula ut id elit.
        Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>

    <div class="span4">
      <img class="img-rect" data-src="holder.js/140x140">
      <h2>Heading</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
        eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>

    <div class="span4">
      <img class="img-rect" data-src="holder.js/140x140">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in,
        egestas eget quam. Vestibulum id ligula porta felis euismod semper.
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>

  </div>
</div>
