.contacts-block {
  width: 500px;
  margin-top: 50px;
  .contacts-form {
    .contacts-inputs {
      box-sizing: border-box;
      font-size: 14px;
      line-height: 20px;
      background: #ededed;
      border-radius: 2px;
      border: 0;
      padding: 10px 12px 10px 12px;
      margin-bottom: 24px;
      width: 100%;
    }
    textarea {
      resize: none;
    }
  }
}
