
<script type="text/javascript">var submitted=false;</script>
<div align="center" class="contacts-block">
<h1>Contacts</h1>
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
  onload="if(submitted) {window.location='index.html#/home';}"></iframe>
  <form action="https://docs.google.com/forms/d/10YRlq_M6YsWb0iCW-j-6lSihwJSOOX3pJWXk0wncGI8/formResponse?embedded=true" method="POST" class="contacts-form"   target="hidden_iframe" onsubmit="submitted=true;">
    <input class="contacts-inputs" type="text" placeholder="Name" name="entry.1566682841" />
    <input class="contacts-inputs" type="text" placeholder="Email" name="entry.1401453649" />
    <textarea class="contacts-inputs" placeholder="Message" name="entry.983617236"></textarea>
    <input type="submit" value="SEND" />
  </form>
</div>
