/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
/* line 5, ../sass/global/default.scss */
body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
/* line 14, ../sass/global/default.scss */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-bottom: -90px;
  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

/* Remove border and change up box shadow for more contrast */
/* line 27, ../sass/global/default.scss */
.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

/* Downsize the brand/project name a bit */
/* line 35, ../sass/global/default.scss */
.navbar .brand {
  padding: 14px 20px 16px;
  /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

/* Navbar links: increase padding for taller navbar */
/* line 43, ../sass/global/default.scss */
.navbar .nav > li > a {
  padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
/* line 48, ../sass/global/default.scss */
.navbar .btn-navbar {
  margin-top: 10px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
/* line 56, ../sass/global/default.scss */
.carousel {
  margin-bottom: 60px;
}

/* line 60, ../sass/global/default.scss */
.carousel .container {
  position: relative;
  z-index: 9;
}

/* line 65, ../sass/global/default.scss */
.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

/* line 75, ../sass/global/default.scss */
.carousel .item {
  height: 500px;
}

/* line 78, ../sass/global/default.scss */
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* line 86, ../sass/global/default.scss */
.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-top: 200px;
}

/* line 94, ../sass/global/default.scss */
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

/* line 100, ../sass/global/default.scss */
.carousel-caption .btn {
  margin-top: 10px;
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
/* line 108, ../sass/global/default.scss */
.marketing .span4 {
  text-align: center;
}

/* line 111, ../sass/global/default.scss */
.marketing h2 {
  font-weight: normal;
}

/* line 114, ../sass/global/default.scss */
.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}

/* Featurettes
------------------------- */
/* line 122, ../sass/global/default.scss */
.featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr> more */
}

/* line 125, ../sass/global/default.scss */
.featurette {
  padding-top: 120px;
  /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden;
  /* Vertically center images part 2: clear their floats. */
}

/* line 129, ../sass/global/default.scss */
.featurette-image {
  margin-top: -120px;
  /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
/* line 134, ../sass/global/default.scss */
.featurette-image.pull-left {
  margin-right: 40px;
}

/* line 137, ../sass/global/default.scss */
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
/* line 142, ../sass/global/default.scss */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 979px) {
  /* line 154, ../sass/global/default.scss */
  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }

  /* line 158, ../sass/global/default.scss */
  .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
  }

  /* line 163, ../sass/global/default.scss */
  .carousel .item {
    height: 500px;
  }

  /* line 166, ../sass/global/default.scss */
  .carousel img {
    width: auto;
    height: 500px;
  }

  /* line 171, ../sass/global/default.scss */
  .featurette {
    height: auto;
    padding: 0;
  }

  /* line 176, ../sass/global/default.scss */
  .featurette-image.pull-left,
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}
@media (max-width: 767px) {
  /* line 186, ../sass/global/default.scss */
  .navbar-inner {
    margin: -20px;
  }

  /* line 190, ../sass/global/default.scss */
  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }

  /* line 197, ../sass/global/default.scss */
  .carousel .item {
    height: 300px;
  }

  /* line 200, ../sass/global/default.scss */
  .carousel img {
    height: 300px;
  }

  /* line 203, ../sass/global/default.scss */
  .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-top: 100px;
  }

  /* line 208, ../sass/global/default.scss */
  .carousel-caption h1 {
    font-size: 30px;
  }

  /* line 212, ../sass/global/default.scss */
  .carousel-caption .lead,
  .carousel-caption .btn {
    font-size: 18px;
  }

  /* line 216, ../sass/global/default.scss */
  .marketing .span4 + .span4 {
    margin-top: 40px;
  }

  /* line 220, ../sass/global/default.scss */
  .featurette-heading {
    font-size: 30px;
  }

  /* line 223, ../sass/global/default.scss */
  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }
}
/* line 1, ../sass/contacts/contacts.scss */
.contacts-block {
  width: 500px;
  margin-top: 50px;
}
/* line 5, ../sass/contacts/contacts.scss */
.contacts-block .contacts-form .contacts-inputs {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  background: #ededed;
  border-radius: 2px;
  border: 0;
  padding: 10px 12px 10px 12px;
  margin-bottom: 24px;
  width: 100%;
}
/* line 16, ../sass/contacts/contacts.scss */
.contacts-block .contacts-form textarea {
  resize: none;
}
